extends layout

block content
	.container
		.jumbotron
			.container
				h1 How May I help you?
				p Lorem ipsum blah
				a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
		.container
			.row
				.col-md-4
					h2 About Us
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet, augue vel ultricies auctor, tortor nunc semper mi, quis fermentum justo elit sit amet justo. Cras gravida commodo lectus ut bibendum. Aenean vestibulum felis eros, vitae rutrum massa lobortis ultrices. 
					a.btn.btn-default(href='#') View Details
				.col-md-4
					h2 Contact
					p Duis id massa a metus dapibus venenatis. In imperdiet non lectus eget consequat. Nulla imperdiet, ligula nec eleifend molestie, odio nulla varius leo, at volutpat arcu lectus vehicula eros. Vestibulum facilisis rutrum velit. Cras consequat diam hendrerit ipsum vulputate, ut sodales lorem consectetur.
					a.btn.btn-default(href='#') View Details
				.col-md-4
					h2 Product
					p Pellentesque eu leo finibus, dapibus ipsum vel, ultricies augue. Maecenas lacus nibh, venenatis suscipit lacinia varius, sagittis id elit. Mauris euismod libero metus, eu scelerisque arcu ullamcorper id. Duis id massa a metus dapibus venenatis. In imperdiet non lectus eget consequat. Nulla imperdiet, ligula nec eleifend molestie, odio nulla varius leo, at volutpat arcu lectus vehicula eros. Vestibulum facilisis rutrum velit. Cras consequat diam hendrerit ipsum vulputate, ut sodales lorem consectetur.	 
					a.btn.btn-default(href='#') View Details
